<!DOCTYPE html>
<html>
    <head>
        <title>首页</title>
        <meta charset="utf-8">
        <meta name="viewport" content="target-densitydpi=device-dpi, width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
        <link rel="stylesheet" type="text/css" href="module/index/css/public.css">
		<link rel="stylesheet" type="text/css" href="public/font/font-awesome.min.css"/>
		<link rel="stylesheet" type="text/css" href="module/index/css/swiper-3.2.7.min.css"/>
		<link rel="stylesheet" type="text/css" href="module/index/css/index.css"/>
		<link rel="stylesheet" type="text/css" href="public/css/main.css" />
		<script src="public/js/sea.js"></script>
		<script>
        	seajs.use("init",function(){
        		seajs.use("./module/index/js/index.js");
        		define(function(require){
	        		var index = require("./../../module/index/js/index.js");
	        		bannerGo = index.bannerGo;
	        	})
        	});
        	
        	
        	
   		</script>
    </head>
    
  
    <body id="index" class="bg-grey">
    	<!--当前位置-->
		<!--<div class="top bg-orange tx-white">
			<div class="left">
				<span class="fa fa-angle-left"></span>
			</div>
			<div class="currentBox" @click="openWindow()" v-cloak>
				<span>当前位置：</span>
				<span class="city" v-if="city">{{city}}</span>
				<span class="city" v-else>定位中...</span>
				<span class="community" v-if="servicesCommunity">{{servicesCommunity}}</span>
				<span class="community" v-else>请选择小区</span>
			</div>
		</div>-->
		<div class="top" v-cloak>
			<span class="currentBox" @click="openWindow()" v-cloak>
				<span class="fa fa-map-marker"></span>
				<span class="city" v-if="city">{{city}}</span>
				<span class="city" v-else>定位中...</span>
				<span class="community" v-if="servicesCommunity">{{servicesCommunity}}</span>
				<span class="community" v-else>请选择小区</span>
			</span>
		</div>	
		<!--当前位置end-->
		
		<!--banner-->
		<div class="bannerBox hide" v-cloak>
			<div class="swiper-wrapper">
		        <!--<div href="javascript:void(0);" class="swiper-slide" >
		        	<a href="#index">
		        		<img src="module/index/img/banner1.png" class="img-responsive"/>
		        	</a>
		        </div>
		        <div href="javascript:void(0);" class="swiper-slide">
		        	<a href="#index">
		        		<img src="module/index/img/banner1.png" class="img-responsive"/>
		        	</a>
		        </div>
		        <div href="javascript:void(0);" class="swiper-slide">
		        	<a href="#index">
		        		<img src="module/index/img/banner1.png" class="img-responsive"/>
		        	</a>
		        </div>-->		        
		   	</div>
		   	<div class="swiper-pagination"></div>
		</div>
		<!--banner end-->
		
    	
    	<!--主体显示部分-->
    	<div class="mainContent hide">
    		<!--热卖爆款-->
    		<div class="hotBox">
    			<div class="title bg-grey">
    				<div class="titleCon">热卖爆款</div>
    				<div class="more tx-grey" @click="showHotMore(hotMore)">
    					<span>查看更多</span>
    					<i class="fa fa-angle-right tx-grey-light"></i>
    				</div>
    			</div>
    			<div class="hotCon bg-white" v-cloak>
    				<div class="leftContainer" @click="shopMtlIdget(hotGoods[0].shopMtlId)">
    					<a class="pa">
	    					<div class="subtitle">{{hotGoods[0].materialName}}</div>
	    					<div class="">
	    						<div class="priceBox">
	    							<span class="dazhePrice">￥{{hotGoods[0].dazhePrice}}</span>
	    							<span class="price">￥{{hotGoods[0].price}}</span>
	    						</div>
	    						<img src="{{hotGoods[0].attachUrl?hotGoods[0].attachUrl:'public/image/tupian.png'}}" />
	    					</div>
    					</a>
    				</div>
    				<div class="rightContainer">
    					<a class="pa" @click="shopMtlIdget(hotGoods[1].shopMtlId)">
    						<div class="container">
    							<div class="subtitle">{{hotGoods[1].materialName}}</div>
    							<div class="priceBox">
    								<span class="dazhePrice">￥{{hotGoods[1].dazhePrice}}</span>
    								<span class="price">￥{{hotGoods[1].price}}</span>
    							</div>
    						</div>
    						<div class="imgBox">
    							<img src="{{hotGoods[1].attachUrl?hotGoods[1].attachUrl:'public/image/tupian.png'}}" />
    						</div>
    					</a>
    					<a class="pa" @click="shopMtlIdget(hotGoods[2].shopMtlId)">
    						<div class="container">
    							<div class="subtitle">{{hotGoods[2].materialName}}</div>
    							<div class="priceBox">
    								<span class="dazhePrice">￥{{hotGoods[2].dazhePrice}}</span>
    								<span class="price">￥{{hotGoods[2].price}}</span>
    							</div>
    						</div>
    						<div class="imgBox">
    							<img src="{{hotGoods[2].attachUrl?hotGoods[2].attachUrl:'public/image/tupian.png'}}" />
    						</div>
    					</a>
    				</div>
    			</div>
    		</div>
    		<div class="bianliBox">
    			<div class="title bg-grey">
    				<div class="titleCon">便利代购</div>
    				<div class="more tx-grey" @click="showbianli(bianliMore)">
    					<span>查看更多</span>
    					<i class="fa fa-angle-right tx-grey-light"></i>
    				</div>
    			</div>
    			<div class="bianliCon bg-white" v-cloak>
    				<a v-for="item in bianli" @click="showbianli(item.materialId)">
    					<div class="subtitleBox">
    						<span class="subtitle">{{item.materialName}}</span>
    						<span class="subtext">{{item.remark}}</span>
    					</div>
    					<div class="imgBox">
    						<img src="{{item.attachUrl?item.attachUrl:'public/image/tupian.png'}}" />
    					</div>
    				</a>
    			</div>
    		</div>
    	</div>
    	
    	<!--小区选择弹窗-->
    	<div id="communityBox" class="communityBox hide">
            <div class="content">
                <div class="title">
                	请选择你所在的小区
                	<span class="closeBox">
                		<i class="fa fa-close" @click="closeWindow()"></i>
                	</span>
                </div>
                <div class="currentCity"> 
                	<span>当前城市</span>
                	<span id="NewCity" v-if="city">{{city}}</span>
                	<span id="NewCity" v-else>定位中...</span>
                </div>
                <ul id="servicesCommunity">
                	<li v-for="item in community" @click="selectCommunity(item.siteId,item.siteName,item.servicesCommunity)">{{item.servicesCommunity}}</li>
                </ul>
            </div>
        </div>
    	<!--小区选择弹窗end-->
    	
        
        
    </body>
    
</html>